
body{
    background-color:  #f0f0f0;
}


.header{
    color:rgb(238, 130, 130);
    display:flex;
    justify-content: center;
    text-align: center;
}

.heading{
  justify-content: center;
  text-align: center;
}

.Browsebtn{
    background-color: #007bff; 
    color:white;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

    font-weight: bold;
    border-radius: 0.25rem;
    border: none;
    padding: 2px;
    margin:2px;
    width:26vw;
    height:5vh;
    
    
}

.Browsebtn:hover {
    background-color: #0056b3; /* Darker shade of blue */
}

#input-file{
  display: none;
}

.methods{
    
    display:inline-grid;
    grid-template-columns:repeat(3,0.8fr);
    grid-gap:5px;
    width: 100%;

    
}
.btn{
    height:40px;
    font-weight: bold;
    background-color:white;
    border:none;
    cursor:pointer;
    /* display: inline; */
    

}
.btn:hover{
    background-color: grey;
}
.handler{
    display:flex;
    display: flex;
    flex-direction: row;
    font-size: 30px;
    text-align: center;
}

  
  .flex-item-left {
    background-color: green;
    padding: 10px;
    flex: 50%;
    width:100%;
    border-radius: 5px;
    color: white;
    text-align: center;
    font-weight: bold;
    margin:6px;
  }

  #resetBtn{
    background-color: red;
  }

  .result{
    width: 100%;
    padding: 0.5rem; /* You can adjust this value according to your needs */
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-wrap: wrap;
  }
  .input{
    
    margin:20px;
    padding:10px;
    width:fit-content;
    
  }
  .subcontainer{
    display: flex;
    flex-direction: row;
  }
  
  #inputImage{
    height: 200px;
    width: 300px;
  }
  #canvas{
    height: 200px;
    width: 300px;
  }
